:root {
    --bg: #2F3D34;
    --bg-darker: #1D2721;
    --primary: #7bc799;
    --text: #eaf8f0;
}

body {
    font-size: 1.4rem;
    margin: 0;
    color: var(--text);
    font-family: 'Space Grotesk', sans-serif;
}

.font-syne {
    font-family: 'Syne', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-space {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-mono {
    font-family: 'Space Mono', monospace;
}

.box {
    padding: 1em;
    border-radius: 10px;
    background: var(--bg-darker)
}

.box.less-padding {
    padding: .15em .5em;
}

h1 {
    font-size: 5rem;
    margin: .25em 0;
    font-weight: 700;
}

h2 {
    font-size: 3.5rem;
    margin: .2em 0;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    margin: .2em 0;
    font-weight: 500;
}

p {
    margin: 0;
}

footer {
    background: var(--bg-darker);
    border-top: .1em solid var(--text);
    padding: 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

a {
    color: var(--text);
}

.label {
    font-size: .4em;
    background: var(--bg-darker);
    padding: 0 .25em;
    border-radius: 10px;
    place-self: center;
    font-weight: 400;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}