:root {
    --bg: #2F3D34;
    --bg-darker: #1D2721;
    --tint: rgba(20, 20, 20, .6);
    --primary: #7bc799;
    --text: #ffffff;
    --hor-padding: 10dvw;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.4rem;
    color: var(--text);
    font-family: 'Space Grotesk', sans-serif;
    background: var(--bg);
    max-width: 100dvw;
    overflow: auto;
    margin: 0 0 0 4.5rem;
}

.loading {
    display: none;
}

.font-syne {
    font-family: 'Syne', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-space {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-mono {
    font-family: 'Space Mono', monospace;
}

.box {
    padding: 1em;
    border-radius: 10px;
    background: var(--tint)
}

.box.less-padding {
    padding: .15em .5em;
}

h1 {
    font-size: 4em;
    margin: .25em 0;
    font-weight: 700;
}

h2 {
    font-size: 2.8em;
    margin: .2em 0;
    font-weight: 600;
}

h3 {
    font-size: 1.5em;
    margin: .2em 0;
    font-weight: 500;
}

p {
    margin: 0;
}

footer {
    position: relative;
    background: var(--bg-darker);
    border-top: .1em solid var(--text);
    font-size: 1rem;
    padding: .75rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

a {
    color: var(--text);
}

.label {
    font-size: .4em;
    background: var(--tint);
    padding: .1em .5em;
    border-radius: 10px;
    place-self: center;
    font-weight: 400;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

@media screen and (max-width: 1000px) {
    :root {
        --hor-padding: 1rem;
    }

    body {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --hor-padding: .5rem;
    }

    body {
        margin: 0 0 3.5rem 0;
    }

    h1 {
        font-size: 2.3em;
    }

    h2 {
        font-size: 1.8em;
    }
}